body {
    font-family: "Helvetica";
    background-color: #f5f5f5;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    background: #f5f5f5;
    color: #000;
    padding: 0.5rem 0.5;
    text-align: center;
}

.header__avatar {
  padding: 20px;
  border-radius: 20%;
  min-width: 200px;
  width: 20%;
  height: auto;
  background-color: #ffffff;
}

.about_text{
    font-size: 16px;
}

.portfolio {
    font-size: 16px;
}

.about, 
.portfolio,
.contact {
    padding: 20px;
    margin: 40px auto;
    width: calc(30% - 10px); /* Ширина равна 30% минус отступ */
    max-width: 600px; /* Максимальная ширина для центрирования */
    border: 0.05px solid #006400; /* Увеличил толщину рамки до 4px */
    border-radius: 32px; /* Закругление углов рамки */
    text-align: center; /* Центрирование текста */
    background: transparent; /* Удаление фона, чтобы не было серых прямоугольников */
    background-color: #ffffff
}
